[Unit]
Description=Scylla Node Exporter

[Service]
Type=simple
User=scylla
Group=scylla
ExecStart=/opt/scylladb/bin/node_exporter --collector.interrupts

[Install]
WantedBy=multi-user.target

